@import "variables.css";

.App {
  text-align: center;
}
/*
We set the element we are applying our loading mask to relative
*/
.loading-mask {
  position: relative;
}

/*
Because we set .loading-mask relative, we can span our ::before
element over the whole parent element
*/
.loading-mask::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.25);
}

/*
Spin animation for .loading-mask::after
*/
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/*
The loading throbber is a single spinning element with three
visible borders and a border-radius of 50%.
Instead of a border we could also use a font-icon or any
image using the content attribute.
*/
.loading-mask::after {
  content: "";
  position: absolute;
  border-width: 3px;
  border-style: solid;
  border-color: transparent rgb(255, 255, 255) rgb(255, 255, 255);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  top: calc(50% - 12px);
  left: calc(50% - 12px);
  animation: 2s linear 0s normal none infinite running spin;
  filter: drop-shadow(0 0 2 rgba(0, 0, 0, 0.33));
}

.label-input {
  border: none;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-color: #ee5253;
  margin-bottom: 10px;
  background-color: inherit;
}
.label-input:focus {
  border-color: #cccccc;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  background-color: inherit;
}

.center {
  padding-top: 20px;
  margin: auto;
}

.loginBtn {
  width: 190px;
  height: 45px;
}
