@import "variables.css";

html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  width: 100%;
}

#root,
.login {
  width: 100%;
  height: 100%;
}

.login {
  background-image: linear-gradient(61deg, #401c5d, #51339f 49%, #6741ca);
}

.nav-heading {
  font-size: 2rem;
  font-weight: 300;
}

.nav-icon {
  position: relative;
  top: 8px;
}

.navbar {
  border-bottom: 2px solid #ee5253;
}
